<div class="content">

    <top-menus></top-menus>

    <div class="mainbody pigeonDept_3_4">

        <div class="form-inline body-header form-withmargin">
            <div class="form-group pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="datas.opt.query" placeholder="输入订单号搜索">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search" ng-click="reset_datas(this);"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="ajax_loading" ng-show="ajax_loading" class="iLoading_loading_pic"></div>
        <table class="table table-hover" ng-show="!is_loading && datas.dataList.length > 0">
            <thead>
            <tr>
                <th>订单或鸽环</th>
                <th>下单日期</th>
                <th>下单用户</th>
                <th>订单金额</th>
                <th>付款截止</th>
                <th>财务审核</th>
                <th>快速操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!is_loading && datas.dataList.length <= 0">
                <td colspan="8">没有数据</td>
            </tr>
            <tr ng-if="!is_loading && datas.dataList.length > 0" ng-repeat="d in datas.dataList">
                <td ng-bind="d.target"></td>
                <td ng-bind="d.date">--</td>
                <td ng-bind="d.phone">--</td>
                <td ng-bind="d.price">--</td>
                <td ng-bind="d.deadline">--</td>
                <td ng-bind="datas.vialotionStatus[d.state][0]" ng-class="datas.vialotionStatus[d.state][1]">--</td>
                <td>
                    <span ng-show="d.vialotion==0" class="btn btn-primary" ng-click="ch_vialotion(this, d)">认定违约</span>
                    <span ng-show="d.vialotion==1" class="dot-text dot-danger">已违约</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>

        <page-nav ng-show="!is_loading && datas.dataList.length > 0"></page-nav>

        <p id="data_no_item" ng-show="!is_loading && datas.dataList.length <= 0" class="nodatas">
            <span class="icons info_icon"></span>
            没有数据
        </p>
        <div class="clearfix"></div>

        <!--商品详情-->
        <div class="modal model-rt" id="goodDetail" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title form-inline">
                            <em>发货信息</em>
                            <span ng-bind="datas.orderStatus[datas.selected_item.state][0]" ng-class="datas.orderStatus[datas.selected_item.state][0]"></span>
                            <div class="pull-right">
                                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button class="btn btn-primary" data-dismiss="modal" ng-click="confirm_consignment(this)">发货确认</button>
                            </div>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="section">
                            <div class="row">
                                <div class="col-sm-12 section-title">
                                    <b>发货信息</b>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="row">
                                    <div class="col-sm-2 row-title">
                                        订单号:
                                    </div>
                                    <div class="col-sm-4 row-content">
                                        <span ng-bind="datas.selected_item.oid" ng-show="is_view(this)"></span>
                                        <input class="form-control" disabled  ng-show="!is_view(this)" ng-model="datas.selected_item.oid">
                                    </div>
                                    <div class="col-sm-2 row-title">
                                        商品数量:
                                    </div>
                                    <div class="col-sm-4 row-content">
                                        <span ng-bind="datas.selected_item.count" ng-show="is_view(this)"></span>
                                        <input class="form-control" ng-show="!is_view(this)" ng-model="datas.selected_item.count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="row">
                                <div class="col-sm-12 section-title">
                                    <b>收件信息</b>
                                    <a class="pull-right" ng-click="edit_addr(this);">
                                        <span class="icons icon-edit"></span>
                                        修改地址
                                    </a>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="row">
                                    <div class="col-sm-2 row-title">
                                        收件人:
                                    </div>
                                    <div class="col-sm-4 row-content">
                                        <span ng-bind="datas.selected_item.name" ng-show="is_view(this)"></span>
                                        <input class="form-control" ng-show="!is_view(this)" ng-model="datas.selected_item.name">
                                    </div>
                                    <div class="col-sm-2 row-title">
                                        收件电话:
                                    </div>
                                    <div class="col-sm-4 row-content">
                                        <span ng-bind="datas.selected_item.phone" ng-show="is_view(this)"></span>
                                        <input class="form-control" ng-show="!is_view(this)" ng-model="datas.selected_item.phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 row-title">
                                        收件地址:
                                    </div>
                                    <div class="col-sm-4 row-content">
                                        <span ng-bind="datas.selected_item.address" ng-show="is_view(this)"></span>
                                    </div>
                                    <div class="col-sm-2 row-title">
                                        配送信息:
                                    </div>
                                    <div class="col-sm-4 row-content">
                                        <span ng-bind="datas.selected_item.carriage" ng-show="is_view(this)"></span>
                                        <input class="form-control" ng-show="!is_view(this)" ng-model="datas.selected_item.carriage">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="row">
                                <div class="col-sm-12 section-title">
                                    <b>货物清单</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 row-content">
                                    <table class="table table-hover" ng-show="!is_loading && datas.selected_item.items.length > 0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>商品编号</th>
                                            <th>商品名</th>
                                            <th>数量</th>
                                            <th>库存位置</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="o in datas.selected_item.items">
                                            <td></td>
                                            <td ng-bind="o.gid"></td>
                                            <td ng-bind="o.name"></td>
                                            <td ng-bind="o.count"></td>
                                            <td ng-bind="o.location"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 配送信息 -->
        <div class="modal fade" id="addrEdit" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title form-inline">
                            <em>编辑配送信息</em>
                        </h4>
                    </div>
                    <div class="modal-body grey-bg">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">收件人:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="datas.selected_item._name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系电话:</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" ng-model="datas.selected_item._phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">详细地址:</label>
                                <div class="col-sm-10">
                                    <input class="form-control" ng-model="datas.selected_item._address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ch_addr(this);">确定修改</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 编辑邮费 -->
        <div class="modal fade" id="confirmEdit" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title form-inline">
                            <em>发货确认</em>
                            <span>此物流信息將提供給用戶查看</span>
                        </h4>
                    </div>
                    <div class="modal-body grey-bg">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">物流信息:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="datas.selected_item.carriage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ch_post(this);">确定修改</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <debug-info></debug-info>

</div>
